PORT=8000
DB_NAME=flipkart
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=localhost
DB_PORT=3306
DB_SSL=false
DB_SKIP_CREATE=false
CLIENT_ORIGIN=http://localhost:8080
SESSION_SECRET=replace_with_strong_secret
SESSION_COOKIE_MAX_AGE=604800000
ENABLE_PRODUCT_SEED=true
